{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        .card{
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
            border-radius: 5px;
        }

        .input-group-prepend span {
            background-color: rgb(0, 123, 255);
            border:0;
        }

        .btn-card {
            width: 90px;
        }

    </style>
    <div class="mt-4 container ml-auto mr-auto card text-light">
        <div class="card-header">
            <h3>Recherche</h3>
        </div>
        <form action="{{ path('usager.valid_search')}}" method="POST">
            <div class="input-group form-group mt-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="depart" type="text" placeholder="Départ">
            </div>
            <div class="input-group form-group mt-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="arrive" type="text" placeholder="Arrivée">
            </div>
            <div class="form-group">
                <input class="btn btn-primary float-right mb-4 mt-2" type="submit" value="Rechecher" />
            </div>
        </form>
        {% for message in app.flashes('Error') %}
            <div class="alert text-center text-danger" style="background-color: rgba(1,1,1,0.5)">
{#            <div class="alert alert-perso text-center">#}
                {{ message}}
            </div>
        {% endfor %}
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Pas d'itinéraire ? <a class="ml-2" href="{{ path('voyage.create')}}">Créer un voyage</a>
            </div>
        </div>
    </div>



    {% if empty == false %}
        <div class="container mt-4">
            <div class="row flex text-light">
<<<<<<< HEAD
                {% for voyage in result %}
                    {% if voyage.nbPlaces > 0 %}
                        <div class="col-3 mt-4">
                            <div class="card" style="width: auto">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a>{{ voyage.villeDepart }} - {{ voyage.villeArrive }}</a>
                                    </h5>
                                    <p class="card-text"> avec {{ voyage.nbPlaces }} places</p>
                                    <p class="card-text">le {{ voyage.horaireAt|date('d/m/Y') }} à {{ voyage.horaireAt|date('h:m') }} </p>
                                    <form>
                                        <div class="form-inline float-right">
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" >
                                                <option selected>places</option>
                                                {% for i in 1..voyage.nbPlaces %}
                                                    * {{ i }}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            <input class="btn btn-primary btn-card" type="submit" value="Réserver" />
                                        </div>
                                    </form>
                                    <div class="form-group float-right mt-2">
                                        <a class="btn btn-secondary btn-card" href="{{ path('usager.contact', {'id': voyage.id}) }}">Contact</a>
=======
                {% for Voyage in result %}
                    <div class="col-3 mt-4">
                        <div class="card" style="width: auto">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a>{{ Voyage.villeDepart }} - {{ Voyage.villeArrive }}</a>
                                </h5>
                                <p class="card-text"> avec {{ Voyage.nbPlaces }} places</p>
                                <p class="card-text">le {{ Voyage.horaireAt|date('d/m/Y') }} à {{ Voyage.horaireAt|date('h:m') }} </p>
                                <form action="{{ path('voyageUser.reserver', {'id': Voyage.id,'nbPlaces' : Voyage.nbPlaces })  }}" method="POST">
                                    <div class="form-inline float-right">
                                        <select class="custom-select mr-sm-2" name ='nombreReserv' id="inlineFormCustomSelect" >
                                            <option selected>places</option>
                                            {% for i in 1..Voyage.nbPlaces %}
                                                * {{ i }}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        <input class="btn btn-primary" type="submit" value="Réserver" />
>>>>>>> alexandre
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% endblock %}