{% extends 'base_unknown.html.twig' %}

{% block body %}

    <style type="text/css">
        .card{
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
            border-radius: 5px;
        }

    </style>

    <div class="mt-4 container ml-auto mr-auto card text-light">
        <div class="card-header">
            <h3>Inscription</h3>
        </div>
        {{ form_start(form) }}
        <div>{{ form_row(form.nom) }}</div>
        <div>{{ form_row(form.prenom) }}</div>
        <div>{{ form_row(form.ddn_at) }}</div>
        <div>{{ form_row(form.telephone) }}</div>
        <div>{{ form_row(form.mail) }}</div>
        <div>{{ form_row(form.pseudo) }}</div>
        <div>{{ form_row(form.motdepasse) }}</div>
        <button class=" btn btn-primary mb-4 mt-3"> S'inscrire </button>
        {{ form_end(form) }}
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Vous aves déjà un compte ? <a class="ml-2" href="{{ path('home')}}">Se connecter</a>
            </div>
        </div>
    </div>
{% endblock %}